<ion-header *ngIf="!isDesktop">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> MORONY TIMES </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="desktop-header" *ngIf="isDesktop">
    <div class="sponsor">
      <img src="http://placehold.it/800x200" />
      <p>Sponsor</p>
    </div>
    <h1>MORONY TIMES</h1>
  </div>

  <section class="stories">
    <ion-card class="story" *ngFor="let story of stories">
      <ion-card-header class="story-headline">
        <h2>{{story.title}}</h2>
      </ion-card-header>
      <ion-card-content class="story-content">
        <p class="author">BY {{story.author}}</p>
        <img src="http://placehold.it/100" />
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
        <p>
          It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged. It was
          popularised in the 1960s with the release of Letraset sheets
          containing Lorem Ipsum passages, and more recently with desktop
          publishing software like Aldus PageMaker including versions of Lorem
          Ipsum.
        </p>
      </ion-card-content>
    </ion-card>
  </section>
  ​
</ion-content>
