.desktop-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;

  .sponsor {
    text-align: center;

    p {
      font-size: 12px;
      color: var(--ion-color-medium);
    }
  }

  h1 {
    font-size: 3em;
    margin: 60px 0;
  }
}

.stories {
  display: grid;
  --min-story-width: 500px;
  grid-template-columns: repeat(auto-fill, minmax(var(--min-story-width), 1fr));

  @media only screen and (max-width: 600px) {
    --min-story-width: 1fr;
  }
}

.story-headline {
  background-color: var(--ion-color-light);
  white-space: normal;

  h2 {
    font-size: 1.5em;
    font-weight: bold;
  }
}

.story-content {
  padding: 20px !important;
  font-family: georgia, "times new roman", times, serif;

  img {
    float: left;
    width: auto;
    margin-right: 20px;
    margin-bottom: 10px;
    border: 3px solid var(--ion-color-light);
  }

  p {
    margin: 20px 0;
  }
}

.author {
  text-transform: uppercase;
  font-size: 0.8em;
  opacity: 0.5;
}
